$mobile-width: 667px;

body {
    background: #0f0f0f;
    margin: 0;

    &:after {
        content: 'By Diego...';
        width: 100%;
        height: 14px;
        display: block;
        position: absolute;
        bottom: 30px;
        right: 10px;
        z-index: 9999;
        text-align: right;
        font-size: 14px;
        font-family: sans-serif;
        color: #f7df1e;
    }
}

//mixin 
@mixin mobile {
    @media only screen and (max-width: #{$mobile-width}) {
      @content;
    }
}