.gulp {
  background-color: #da4b48;
}

.css {
  background-color: #0a70be;
}

.node {
  background-color: #78b260;
}

.html {
  background-color: #e44d26;
}

.js {
  background-color: #f7df1e;
}

.div {
  display: block;
  float: left;
  width: 20px;
  height: 20px;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}

.game {
  max-width: 500px;
  width: 100%;
  max-height: 500px;
  margin: 0 auto;
  margin-top: 10px;
  overflow: hidden;
  padding: 5px;
  box-shadow: 0 0 40px -11px #f7df1e;
  border: 1px solid #f4f4f4;
}

body {
  background: #0f0f0f;
}

h1 {
  text-align: center;
  color: #fff;
  text-decoration: overline;
  font-family: sans-serif;
  margin-bottom: 0;
}

.equals {
  box-shadow: 0 0 10px 3px white;
}